[phases.setup]
nixPkgs = ["nodejs-22_x"]

[phases.install]
cmds = [
  "npm ci --include=optional"
]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "cd web && NODE_ENV=production node server.js"
